.post{
  .header{
    display:flex;
    justify-content:space-between;
    align-items:space-between;
  }
  h1{
    margin-bottom: 0.5rem;
  }
  .info{
    strong{
      margin-left: 1rem;
    }
  }
}
